@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

/* 

0 - 600px            Phone 
600 - 900px          Tablet Portrait
900 - 1200px         Tablet Landscape
[1200 -1800] is where our Normal Style Apply
1800px +             Big Desktop

*/

/* Breakpoint argument chice

- phone
- tab-port
- tab-land
- big-desktop

*/

//ORDER - Base + typography > general layout + grid > page layout > components

// 1em = 16px

// 37.5em = 600 px
@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media (max-width: 37.5em) {
      @content;
    }
  }

// 56.25 = 900px
  @if ($breakpoint == tab-port) {
    @media (max-width: 56.25em) {
      @content;
    }
  }

//   75em = 1200px
  @if ($breakpoint == tab-land) {
    @media (max-width: 75em) {
      @content;
    }
  }

  //112.5 = 1800px
  @if ($breakpoint == big-desktop) {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
